.silueta {
  filter: drop-shadow(0 0 0 black) drop-shadow(0 0 1px black);
}

.vertical-text {
  writing-mode: vertical-rl;
}

.card-background {
  background-image: linear-gradient(
    to bottom,
    var(--color-card-background-1) 60%,
    var(--color-card-background-2) 50%
  );
  background-size: 100% 10px;
  background-repeat: repeat;
}

.effect3D {
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 1),
    inset 4px 4px 4px rgba(255, 255, 255, 1), 6px 4px 5px 0px rgba(0,0,0,0.6);
}

.gen1 {
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    var(--color-pokemon-red) 12%,
    var(--color-pokemon-red) 36%,
    var(--color-pokemon-blue) 36%,
    var(--color-pokemon-blue) 64%,
    var(--color-pokemon-yellow) 64%,
    var(--color-pokemon-yellow) 92%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.gen2 {
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    var(--color-pokemon-gold) 12%,
    var(--color-pokemon-gold) 36%,
    var(--color-pokemon-silver) 36%,
    var(--color-pokemon-silver) 64%,
    var(--color-pokemon-crystal) 64%,
    var(--color-pokemon-crystal) 92%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.gen3 {
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    var(--color-pokemon-ruby) 12%,
    var(--color-pokemon-ruby) 36%,
    var(--color-pokemon-sapphire) 36%,
    var(--color-pokemon-sapphire) 64%,
    var(--color-pokemon-emerald) 64%,
    var(--color-pokemon-emerald) 92%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.gen4 {
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    var(--color-pokemon-diamond) 12%,
    var(--color-pokemon-diamond) 36%,
    var(--color-pokemon-pearl) 36%,
    var(--color-pokemon-pearl) 64%,
    var(--color-pokemon-platinum) 64%,
    var(--color-pokemon-platinum) 92%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.gen5 {
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    var(--color-pokemon-black) 12%,
    var(--color-pokemon-black) 52%,
    var(--color-pokemon-white) 52%,
    var(--color-pokemon-white) 92%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.gen6 {
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    var(--color-pokemon-x) 12%,
    var(--color-pokemon-x) 52%,
    var(--color-pokemon-y) 52%,
    var(--color-pokemon-y) 92%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.gen7 {
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    var(--color-pokemon-sun) 12%,
    var(--color-pokemon-sun) 52%,
    var(--color-pokemon-moon) 52%,
    var(--color-pokemon-moon) 92%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.gen8 {
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    var(--color-pokemon-sword) 12%,
    var(--color-pokemon-sword) 52%,
    var(--color-pokemon-shield) 52%,
    var(--color-pokemon-shield) 92%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.gen9 {
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    var(--color-pokemon-scarlet) 12%,
    var(--color-pokemon-scarlet) 52%,
    var(--color-pokemon-violet) 52%,
    var(--color-pokemon-violet) 92%,
    /* rgba(255, 36, 0, 1) 12%,
    rgba(255, 36, 0, 1) 52%,
    rgba(106, 13, 173, 1) 52%,
    rgba(106, 13, 173, 1) 92%, */
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}
