@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

:root {
  font-family: var(--font-cabin-condensed), sans-serif;
}

@theme {
  --color-card-background-1: #c1c1a8;
  --color-card-background-2: #bbbb9f;
  --color-dark: #1b2b3a;

  /* Pokemon Games Colors */
  /* Gen 1 */
  --color-pokemon-red: #e4002b;
  --color-pokemon-blue: #0073b4;
  --color-pokemon-yellow: #ffde00;
  /* Gen 2 */
  --color-pokemon-gold: #d4af37;
  --color-pokemon-silver: #c0c0c0;
  --color-pokemon-crystal: #8bbece;
  /* Gen 3 */
  --color-pokemon-ruby: #9b111e;
  --color-pokemon-sapphire: #0f52ba;
  --color-pokemon-emerald: #50c878;
  /* Gen 4 */
  --color-pokemon-diamond: #b9f2ff;
  --color-pokemon-pearl: #e0bbe4;
  --color-pokemon-platinum: #e5e4e2;
  /* Gen 5 */
  --color-pokemon-black: #36454f;
  --color-pokemon-white: #f8f8f8;
  /* Gen 6 */
  --color-pokemon-x: #d21436;
  --color-pokemon-y: #1e90ff;
  /* Gen 7 */
  --color-pokemon-sun: #ffa500;
  --color-pokemon-moon: #191970;
  /* Gen 8 */
  --color-pokemon-sword: #8b0000;
  --color-pokemon-shield: #4169e1;
  /* Gen 9 */
  --color-pokemon-scarlet: #ff2400;
  --color-pokemon-violet: #6a0dad;

  /* Pokemon Types */
  --color-type-bug: #91A119;
  --color-type-dark: #50413F;
  --color-type-dragon: #5061E1;
  --color-type-electric: #FAC000;
  --color-type-fairy: #EF71EF;
  --color-type-fighting: #FF8000;
  --color-type-fire: #E62829;
  --color-type-flying: #81B9EF;
  --color-type-ghost: #704170;
  --color-type-grass: #3FA129;
  --color-type-ground: #915121;
  --color-type-ice: #3FD8FF;
  --color-type-normal: #9FA19F;
  --color-type-poison: #8F41CB;
  --color-type-psychic: #EF4179;
  --color-type-rock: #AFA981;
  --color-type-steel: #60A1B8;
  --color-type-water: #2980EF;

  --font-cabin-condensed: "Cabin Condensed", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-magnus: "Magnus", sans-serif;
}

@utility text-vertical-rl {
  writing-mode: vertical-rl;
}

@utility text-vertical-lr {
  writing-mode: sideways-lr;
}

@utility bg-stripped {
  background-image: linear-gradient(
    to bottom,
    --value(--color-1-*) 70%,
    --value(--color-2-*) 50%
  );
  background-size: 100% 5px;
  background-repeat: repeat;
}

@layer components {
  .chip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-white);
    background-color: var(--color-dark);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: calc(infinity * 1px);
  }
}

@font-face {
  font-family: Magnus;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Thraex_Magnus.woff2") format("woff2");
}
