@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

:root {
  font-family: var(--font-cabin-condensed), sans-serif;
}

@theme {
  --color-card-background-1: #C1C1A8;
  --color-card-background-2: #BBBB9F;

  --font-cabin-condensed: "Cabin Condensed", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-magnus: "Magnus", sans-serif;
}

@utility text-vertical-rl {
  writing-mode: vertical-rl;
}

@utility text-vertical-lr {
  writing-mode: sideways-lr;
}

@font-face {
  font-family: Magnus;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Thraex_Magnus.woff2") format("woff2");
}
